<script type="text/javascript">
  $(document).ready(function() {
  	$("#myModal").modal();
  });
</script>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel" style="text-align: center;">Atenção</h4>
      </div>
      <div class="modal-body">
        Modal Aberto
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>