<script type="text/javascript">
  $(document).ready(function() {
    <% if !@nome_controller.nil? %>
      <% @nome_controller.each do |nome_model| %>
        //AJAX para o Select de UGES
        $("#nome_campo-<%= nome_model.id %>").change(function(){
          var nome_campo = $("#nome_campo-<%= nome_model.id %>").val();
          $.ajax({
            url: '/nome_controller/pesquisar_uges',
            method: 'GET',
            data: {nome_campo: nome_campo}
          })
          .done(function(retorno) {
              $("#nome_partial<%= nome_model.id %>").html( retorno );
          });
        });
      <% end %>
    <% end %>
  });
</script>
<div class="col-md-4">
  	<strong>nome_campo:</strong>
  	<%= select_tag(:nome_campo, options_for_select(NomeModel.where(:ativo => true).collect {|e| [e.nome, e.id]}), class: "form-control", :required => true, prompt: "Selecione", id: "nome_campo-#{nome_model.id}") %>
  	<br>
</div>
<div id="nome_partial<%= nome_model.id %>"></div>