<script type="text/javascript">
  	$(document).ready(function() {
		var mask = {
		    money: function() {
		      var el = this
		      ,exec = function(v) {
		        v = v.replace(/\D/g,"");
		        v = new String(Number(v));
		        var len = v.length;
		        if (1== len)
		        v = v.replace(/(\d)/,"0.0$1");
		        else if (2 == len)
		        v = v.replace(/(\d)/,"0.$1");
		        else if (len > 2) {
		        v = v.replace(/(\d{2})$/,'.$1');
		        }
		        return v;
		      };
		      setTimeout(function(){
		      el.value = exec(el.value);
		      },1);
		    }
	  	}

		$(function(){
			$('.moeda').bind('keypress',mask.money)
		});
  	});
</script>

<div class="field">
  <%= f.label :nome_campo, "titulo_campo" %><br>
  <%= f.number_field :nome_campo, value: number_to_currency(f.object.nome_campo.to_f, delimiter: '', unit: ''), :step => 0.001, :required => true, :class => "form-control moeda", :id => 'nome_campo' %>
</div>