<%= form_for(@nome_model) do |f| %>
  <% if @nome_model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nome_model.errors.count, "error") %> prohibited this nome_model from being saved:</h2>

      <ul>
      <% @nome_model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" style="text-align: center;">INFORMAÇÕES GERAIS</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <!-- Adicionar campo -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <center>
      <div class="actions">
        <%= f.submit "Salvar", :class =>"btn btn-sm btn-default" %>
        <%= link_to 'Voltar', nome_controller_path, :class => "btn btn-sm btn-default" %>
      </div>
    </center>
  </div>
<% end %>
