<p id="notice"><%= notice %></p>
<!DOCTYPE html>
<html>
  <div class="container-fluid" style="background-color: #000;">
    <h3 style="text-align: center; font-weight: bold; color: #ecf0f1; font-size: 35px;">Listagem titulo &nbsp;&nbsp;&nbsp;<%= link_to 'Novo', new_nome_model_path, :class => "btn btn-default" %></h3>
    <div class="panel panel-default">
      <div class="panel panel-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>nome_campo</th>
              <th>Ações</th>
            </tr>
          </thead>

          <tbody>
            <% @nome_controller.each do |nome_model| %>
              <tr>
                <td><%= nome_model %></td>
                <td><%= nome_model %></td>
                <td><%= nome_model %></td>
                <td><%= nome_model %></td>
                <td><%= nome_model %></td>
                <td><%= nome_model %></td>
                <td>
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                      Ações
                      <span class="caret"></span>
                    </button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                      <li><%= link_to 'Visualizar', nome_model %></li>
                      <li><%= link_to 'Editar', edit_nome_model_path(nome_model) %></li>
                      <li><%= link_to 'Deletar', nome_model, method: :delete %></li>
                    </ul>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</html>

      
