<!DOCTYPE html>
<html>
  	<div class="container-fluid" style="background-color: #000;">
    	<h3 style="text-align: center; font-weight: bold; color: #ecf0f1; font-size: 35px;">Cadastrar titulo</h3>
		<%= render 'form' %>
	</div>
<html>
