<p id="notice"><%= notice %></p>
<!DOCTYPE html>
<html>
  <div class="container-fluid" style="background-color: #000;">
    <h3 style="text-align: center; font-weight: bold; color: #ecf0f1; font-size: 35px;">Visualizar titulo</h3>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title" style="text-align: center;">INFORMAÇÕES GERAIS</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <strong>nome_campo:</strong>
                <%= @nome_model.ano %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <center>
        <div class="actions">
          <%= link_to 'Editar', edit_nome_model_path(@nome_model), :class => "btn btn-sm btn-default" %>
          <%= link_to 'Voltar', nome_controller_path, :class => "btn btn-sm btn-default" %>
        </div>
      </center>
    </div>
  </div>
</html>