<%= form_for(@planner) do |f| %>
  <% if @planner.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" style="width: 400px;"> 
      <ul>
        <% @planner.errors.full_messages.each do |message| %>
        <li><%= message %>.</li> <br>
        <% end %>
      </ul>
    </div>
  <% end %>
  <form class="form-horizontal">
    <div class="field form-group" id="input-4">
      <%= f.label :titulo, 'Título'%> <e style="color:red;">*</e>
      <%= f.text_field :titulo, :class => 'form-control', :required => true %>
    </div>
    <div class="field form-group" id="input-4">
      <%= f.label :descricao, 'Descrição'%> <e style="color:red;">*</e>
      <%= f.text_field :descricao, :class => 'form-control', type: 'text', :required => true %>
    </div>
    <div class="field form-group" id="input-4">
      <%= f.label :data, 'Data'%> <e style="color:red;">*</e>
      <%= f.text_field :data, :class => 'form-control', type: 'date', :required => true %>
    </div>
    <div class="field form-group">
      <%= f.label :periodo, 'Período'%> <e style="color:red;">*</e>
      <%= f.select(:periodo, options_for_select(['Manhã', 'Tarde', 'Noite']), { prompt: "Selecione o Periodo" }, {"data-live-search" =>"true", :class => "selectpicker show-tick form-control", :required => true}) %>
    </div>
    
    <div class="actions ">
      <%= button_tag(type: 'submit', class: "btn btn-sm btn-primary", title: 'Salvar') do %>
        <i class="fa fa-save"></i>
      <% end %>
    </div>
  </form>
<% end %>