<div class="wrapper wrapper-content animated fadeInRight">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Detalhamento</h3>
    </div>
    <div class="panel-body">
      <ul class="list-group" title="Clique aqui para voltar à caixa de serviços.">
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading"><%= @planner.titulo if !@planner.nil? %></h4>
          <br>
          <p class="list-group-item-text"><%= @planner.descricao if !@planner.nil? %></p>
        </a>
      </ul>
    <div id="mensagem"></div>
    <hr>
    <% if !@planner.blank? %>
      <table class="table table-bordered">
        <thead>
          <td colspan="1">
            Data: <%= @planner.date.strftime("%d/%m/%Y") if !@planner.date.nil? %>
          </td>
          <td colspan="1">
            Período: <%= @planner.periodo %>
          </td>
        </thead>
      </table>
      <% end %>
      <%= link_to 'Voltar', planneres_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>