<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h1>Editar Tarefa</h1>
				</div>
				<div class="ibox-content">
					<%= render 'form' %>

		          	<%= link_to '', @planner, :class => 'btn btn-sm btn-warning fa fa-search', :title => 'Visualizar' %> 
					<%= link_to '', planneres_path, :class => 'btn btn-sm btn-danger fa fa-reply', :title => 'Voltar/Cancelar' %>
				</div>
			</div>
		</div>
	</div>
</div>

