<p id="notice"><%= notice %></p>

<h1>Listing Planneres</h1>

<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>Titulo</th>
      <th>Descricao</th>
      <th>Periodo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @planneres.each do |planner| %>
      <tr>
        <td><%= planner.data %></td>
        <td><%= planner.titulo %></td>
        <td><%= planner.descricao %></td>
        <td><%= planner.periodo %></td>
        <td><%= link_to 'Show', planner %></td>
        <td><%= link_to 'Edit', edit_planner_path(planner) %></td>
        <td><%= link_to 'Destroy', planner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Planner', new_planner_path %>
