<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-md-6">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h1>Nova Tarefa</h1>
				</div>
				<div class="ibox-content">
					<%= render 'form' %>

			        <%= link_to '', planneres_path, :class => 'btn btn-sm btn-danger fa fa-reply', :title => 'Voltar' %>
				</div>
			</div>
		</div>
	</div>
</div>