<div class="wrapper wrapper-content animated fadeInRight">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Detalhamento</h3>
    </div>
    <div class="panel-body">
      <ul class="list-group" title="Clique aqui para voltar à caixa de serviços.">
        <a href="/caixa_servicos/index" class="list-group-item">
          <h4 class="list-group-item-heading"><%= @planneres.titulo if !@planneres.nil? %></h4>
          <ul>
            <p class="list-group-item-text"><b>* </b><%= @planneres.descricao if !@planneres.nil? %></p>
          </ul>
        </a>
      </ul>
    <div id="mensagem"></div>
    <hr>
    <% if !@planneres.blank? %>
      <table class="table table-bordered">
        <thead>
          <tr>
            Data: <%= @planneres.data.strftime("%d/%m/%Y") if !@planneres.data.nil? %>
          </tr>
          <tr>
            Periodo: <%= @planneres.periodo %>
          </tr>
        </thead>
        <%= link_to 'Voltar', planneres_path, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>