<style>
    #calendar table {
    border-collapse: collapse;
    width: 100%;
    }

    #calendar td,
    #calendar th {
    font-family: "Lucida Grande",arial,helvetica,sans-serif;
    font-size: 10px;
    padding: 6px;
    border: 1px solid #999;
    }

    #calendar th {
    background: #9b59b6;
    color: #FFF;
    text-align: center;
    width: 14.2857142857143%;
    }

    #calendar td {
    background: #FFF;
    color: #777;
    height: 100px;
    vertical-align: top;
    font-size: 16px;
    border-top: 1px solid #c2c2c2;
    border-left: 1px solid #c2c2c2;
    }

    #calendar .notmonth {
    color: #CCC;
    }

    #calendar #month {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    }

    #calendar #month a, #calendar #month a:hover {
    text-decoration: none;
    padding: 0 10px;
    color: #000;
    }

    #calendar .today {
    background-color: #bdc3c7;
    }

    #calendar ul {
    margin: 0;
    margin-top: 5px;
    padding: 0;
    list-style: none;
    }

    #calendar li {
    margin: 0;
    padding: 0;
    font-size: 11px;
    text-align: center;
    }
</style>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col">
            <div class="ibox float-e-margins">
                <div class="ibox-title" id="topo">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div style="text-align:center">
                                <h2>Planner Mensal
                                    <span class="badge badge-info">
                                        <%= @planneres.count %>
                                    </span>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                  <b><%= link_to 'Cadastrar Tarefa', new_planner_path, :class => "form-control btn-primary", :style => "text-align: center;" %></b>
                    <p id="notice">
                        <center class="alert-info">
                            <%= notice %> 
                        </center>
                    </p>
                    <tbody>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div style="text-align:right">
                                    <%#= link_to ' Hoje', planner_path, :class => 'btn btn-outline btn-primary glyphicon glyphicon-home', :title => 'Tarefas de Hoje' %>
                                    
                                </div>
                            </div>
                        </div>
                      <div id="calendar">
                          <h2 id="month">
                              <b><%= l @date, format: :agenda %></b>
                        </h2>
                        <%= calendar_for @planneres, :year => @date.year, :month => @date.month do |t| %>
                          <%= t.head('Domingo','Segunda-feira', 'Terça-feira', 'Quarta-feira', 'Quita-feira', 'Sexta-feira', 'Sábado') %>
                          <%= t.day do |day, planneres| %>
                            <strong><%= day.day %></strong>
                                  <br>
                                  <div style="text-align:center">
                                      <% if planneres.collect.count < 1 %>
                                          <% planneres.each do |demanda| %><br>
                                          <%#= raise demanda.inspect %>
                                  <%= link_to h(demanda.descricao), demanda %><br>
                                          <% end %>
                                      <% else %>
                                          <%  if @planneres.count == 1 
                                                  tarefa = "Tarefa"
                                              else
                                                  tarefa = "Tarefas" 
                                              end
                                          %> 
                                          <div class="btn-group">
                                              <button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                 <%= planneres.count.to_s + " #{tarefa}" %>
                                                  <span class="caret">
                                                  </span>
                                              </button>
                                              <ul class="dropdown-menu">
                                                  <% planneres.each do |planner| %>
                                                      <%= link_to h(planner.descricao), detalhes_planneres_path(:id => planner.id), :class => "form-control btn btn-primary" %>
                                                  <% end %>
                                              </ul>
                                          </div>
                                        <% end %>
                                  </div>
                          <% end %>
                        <% end %>
                      </div>
                    </tbody>
                </div>
            </div>
        </div>
    </div>
</div>