<%= form_for(@nome_model) do |f| %>
  <% if @nome_model.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" style="width: 400px;"> 
      <ul>
        <% @nome_model.errors.full_messages.each do |message| %>
        <li><%= message %>.</li> <br>
        <% end %>
      </ul>
    </div>
  <% end %>
  <form class="form-horizontal">
    <div class="field form-group">
      <%= f.label :nome_campo_select_busca, 'nome_campo_select'%> <e style="color:red;">*</e>
      <%= f.select(:nome_campo_select_busca, options_for_select(['Opções']), { prompt: "Selecione o nome_campo_select" }, {"data-live-search" =>"true", :class => "selectpicker show-tick form-control", :required => true}) %>
    </div>
    <br>
    <div class="field form-group" id="input-4">
      <%= f.label :nome_campo_texto, 'nome_campo_texto'%> <e style="color:red;">*</e>
      <%= f.text_field :nome_campo_texto, :class => 'form-control', :required => true %>
    </div>
    
    <div class="actions ">
      <%= button_tag(type: 'submit', class: "btn btn-sm btn-primary", title: 'Salvar') do %>
        <i class="fa fa-save"></i>
      <% end %>
    </div>
  </form>
<% end %>