<script type="text/javascript">
	$(function() {
		var mensagem = $("#mensagem").val();
		if (mensagem == "erro") {
			alert("Preencha todos os dados.");
		}
		else if (mensagem == "erro_uso") {
			alert("O nome_model digitado, já está em uso.");
		};
	});
</script>
<div class="ibox float-e-margins">
	<div class="ibox float-e-margins">
		<div class="ibox-title">
			<h1>Título</h1>
		</div>
		<div class="ibox-content">
			<table class="table table-hover">
				<thead class="table table-bordered">
					<tr>
						<th>Nome Coluna</th>
						<th>Nome Coluna</th>
					</tr>
				</thead>
				<tbody class="table table-hover">
					<% if !@nome_model_anteriores.blank? %>
						<% @nome_model_anteriores.each do |nome_model| %>
							<tr>
								<td><%= ControllerModel.find(nome_model).descricao if !nome_model.nil? %></td>
								<td><%= nome_model.descricao if !nome_model.descricao.nil? %></td>
							<% end %>
						</tr>
					<% end %>
				</tbody>
			</table>																
		</div>
	</div>
</div>