<script type="text/javascript">
	$(function() {
		$('#button').click(function (e) {
	        e.preventDefault();

	        var nome_campo_select = $("#nome_campo_select option:selected").val();
	        var nome_campo = $("#nome_campo").val();

	        $.ajax({
	          method: "GET",
	          url: "/nome_controller/cadastrar",
	          data: {
	          	nome_campo_select: nome_campo_select,
	          	nome_campo: nome_campo
	          }
	      	})
	      	.done(function(retorno) {
	        	$("#listagem").html( retorno );
	      	});
	    });
    });
</script>
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-md-6">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h1>Novo Título</h1>
				</div>
				<div class="ibox-content">
					<%= render 'form' %>

			        <%= link_to '', nome_controller_path, :class => 'btn btn-sm btn-danger fa fa-reply', :title => 'Voltar' %>
				</div>
			</div>
		</div>
	</div>
</div>