<%= form_for(@nome_model) do |f| %>
  <% if @nome_model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nome_model.errors.count, "error") %> prohibited this nome_model from being saved:</h2>

      <ul>
      <% @nome_model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col">
        <div class="ibox float-e-margins">
          <div class="form-horizontal">
            <div class="field">
              <%= f.label :nome_campo, "titulo_campo" %> <e style="color: #ffb743;">*</e><br>
              <%= f.select(:nome_campo, options_for_select(Model.all.collect {|e| [e.nome_campo, e.id]}), { prompt: "Selecione o titulo_campo" }, {:class => "form-control select2", :required => true}) %>
            </div>
            <div class="field">
              <%= f.label :nome_campo, "titulo_campo" %><br>
              <%= f.text_field :nome_campo, :required => true, :class => "form-control" %>
            </div>
            <div class="hr-line-dashed"></div>
              <%= button_tag(type: 'submit', class: "btn btn-primary fa fa-save pull-left", title: 'Salvar') do %>
              <% end %>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %> 