<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col">
      <div class="ibox float-e-margins">
        <div class="ibox-title" id="topo">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " style="text-align:center">
              <%= link_to '', nome_controller_path, :class => 'btn btn-primary fa fa-reply pull-left', :title => 'Voltar' %>
              <%= link_to '', @nome_model, :class => 'btn btn-primary fa fa-search pull-left', :title => 'Visualizar' %>
              <h2 style="font-weight: bold;">Editando Titulo</h2>
            </div>
            <p id="notice">
              <center class="alert-info">
                <%= notice %> 
              </center>
            </p>
          </div>
          <div class="hr-line-dashed"></div>
            <%= render 'form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>