<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="ibox float-e-margins">
      <div class="ibox-title" id="topo">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " style="text-align:center">
            <h4><%= link_to '', new_nome_model_path, :class => 'btn btn-primary fa fa-plus pull-left', :title => 'Novo'%></h4>
            <h2 style="font-weight: bold;">titulo <span class="badge badge-primary"><%= @nome_controller.nil? ? 0 : @nome_controller.count %></span></h2>
          </div>
        </div>
        <p id="notice">
          <center class="alert-info">
            <%= notice %> 
          </center>
        </p>
      </div>
      <table class="table table-hover">
        <thead class="table table-bordered">
          <tr>
            <th>coluna</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="table table-hover">
          <% @nome_controller.each do |nome_model| %>
            <tr>
              <td><%= campo %></td>
              <td>
                <div class="input-group-btn">
                  <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button">Ações <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><%= link_to 'Ver', nome_model, :class => 'btn btn-default', :title => 'Visualizar' %></li>
                    <li>
                      <%= link_to 'Editar', edit_nome_model_path(nome_model), :class => 'btn btn-default', :title => 'Editar' %>
                    </li>
                    <li>
                      <%= link_to 'Deletar', nome_model, method: :delete, data: { confirm: 'Tem certeza que deseja excluir esse registro ?' }, :class => 'btn btn-default', :title => 'Deletar' %>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>