<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
	  	<div class="col">
		    <div class="ibox float-e-margins">
		      	<div class="ibox-title" id="topo">
			        <div class="row">
			          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " style="text-align:center">
			            <%= link_to '', nome_controller_path, :class => 'btn btn-primary fa fa-reply pull-left', :title => 'Voltar' %>
			            <%= link_to '', edit_nome_model_path(@nome_model), :class => 'btn btn-primary fa fa-edit pull-left', :title => 'Editar' %>
			            <h2 style="font-weight: bold;">Visualizar Titulo<span class="badge badge-info"><%= %></span></h2>
			          </div>
			        </div>
			        <p id="notice">
			            <center class="alert-info">
			              <%= notice %> 
			            </center>
			       	</p>
			        <div class="hr-line-dashed"></div>
			        <p>
					  <strong>Campo:</strong>
					  <%= @noome_model.campo %>
					</p>
		      	</div>
		    </div>
	  	</div>
	</div>
</div>