<td>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      Ações
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      <li><%= link_to 'Visualizar', nome_model %></li>
      <li><%= link_to 'Editar', edit_nome_model_path(nome_model) %></li>
      <li><%= link_to 'Deletar', nome_model, method: :delete, data: { confirm: 'Quer mesmo fazer isso?' } %></li>
      <li data-toggle="modal" data-target="#<%= nome_model.id %>">
        <a href="#">Visualizar Imagem</a>
      </li>
    </ul>
  </div>
  <div class="modal fade" id="<%= nome_model.id %>">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5 class="modal-title" id="exampleModalLongTitle">Anexo da Imagem</h5>
        </div>
        <div class="modal-body">
          <center>
            <%= image_tag nome_model.imagem_rota.url(:large) if !nome_model.imagem_rota_file_name.nil? %>
          </center>
        </div>
      </div>
    </div>
  </div>
</td>
