<%= form_for(@nome_model) do |f| %>
  <% if @nome_model.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" style="width: 400px;">
      <ul>
      <% @nome_model.errors.full_messages.each do |message| %>
        <li><%= message %>.</li><br>
      <% end %>
      </ul>
    </div>
  <% end %>
    <form class="form-horizontal">
        <div class="row">

            <div class="field form-group col-lg-6">
              <%= f.label :nome_campo, "nome_campo" %> <e style="color:red">*</e>
              <%= f.text_field :nome_campo, class: 'form-control', required: true, autofocus: true %>
            </div>

            <div class="field form-group col-lg-6">
              <%= f.label :nome_campo2, "nome_campo2" %> <e style="color:red">*</e>
              <%= f.select(:nome_campo2, options_for_select(Model.all.collect {|e| [e.nome_campo, e.id]}), { prompt: "Selecione o titulo_campo" }, {:class => "form-control selectpicker", :style => "width: 100%", :required => true}) %>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-6">
                <%= button_tag(type: 'submit', class: "btn btn-primary", title: 'Salvar') do %>
                    <i class="fa fa-save"></i> Salvar
                <% end %>   
            </div>
        </div>

    </form>
<% end %>


