<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-6">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h1>Edição de Titulo</h1>
				</div>
				<div class="ibox-content">
					<%= render 'form' %>
					<%= link_to '', @nome_model, class: 'btn btn-sm btn-warning fa fa-search', title: 'Visualizar' %> 
					<%= link_to '', nome_models_path, class: 'btn btn-sm btn-danger fa fa-reply', title: 'Voltar' %>
				</div>
			</div>
		</div>
	</div>
</div>

