<div class="row wrapper border-bottom white-bg page-heading" style="margin-top: 5px;">
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <h2><%= @nome_model.nome %></h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <% if !notice.nil? %>
                <div class="alert alert-info">
                    <p align="center"><%= notice %></p>
                </div>
            <% end %>
        </div>
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox product-detail">
                    <div class="ibox-content">
                        <div class="row">
                            <h3>Informações:</h3>
                            <dl class="small m-t-md">
                                <div class="col-lg-6" style="font-size: 12px;">  
                                    <dt>Razão Social:</dt>
                                    <dd><%= @nome_model.razao_social %></dd><br>
                                    <dt>CNPJ:</dt>
                                    <dd><%= @nome_model.cnpj %></dd><br>
                                    <dt>Telefone:</dt>
                                    <dd><%= @nome_model.telefone %></dd><br>
                                    <dt>Papel:</dt>
                                    <dd><%= Papel.find(Papeisnome_model.find_by(nome_model_id: @nome_model.id).papel_id).nome %></dd><br>
                                </div>
                                <div class="col-lg-6" style="font-size: 12px;">  
                                    <dt>E-mail:</dt>
                                    <dd><%= @nome_model.email %></dd><br>
                                    <dt>CEP:</dt>
                                    <dd><%= @nome_model.cep %></dd><br>
                                    <dt>Endereço:</dt>
                                    <dd><%= @nome_model.endereco %>, N° <%= @nome_model.numero %></dd><br>
                                </div>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>