<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 ">
              <h4><%= link_to '', new_nome_model_path, :class => 'btn btn-primary fa fa-plus', :title => 'Novo Título' %></h4>
            </div>
            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 ">
              <div style="text-align:center">
                <h2>Título Tela <span class="badge badge-info"><%= @nome_controller.count %></span></h2>
              </div>
            </div>
          </div>
        </div>
        <div class="ibox-content">
          <p id="notice">
            <center class="alert-info">
              <%= notice %> 
            </center>
          </p>
          <table class="table table-hover">
            <thead class="table table-bordered">
              <tr>
                <th>Nome Coluna</th>
                <th colspan="3">Ações</th>
              </tr>
            </thead>

            <tbody class="table table-hover">
                <% @nome_controller.each do |nome_model| %>
                <tr>
                  <td><%= campos %> 
                  </td>
                  <td>
                    <div class="dropdown">
                      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        Ações
                        <span class="caret"></span>
                      </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li data-toggle="modal">
                          <%= link_to 'Visualizar', nome_model, :class => 'btn btn-default', :title => 'Visualizar' %>
                        </li>
                        <li data-toggle="modal">
                          <%= link_to 'Editar', edit_nome_model_path(nome_model), :class => 'btn btn-default', :title => 'Editar' %>
                        </li>
                        <li data-toggle="modal">
                          <%= link_to 'Deletar', nome_model, method: :delete, data: { confirm: 'Tem certeza?' }, :class => 'btn btn-default', :title => 'Deletar' %>
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>