<div class="wrapper wrapper-content animated fadeInRight">
  	<div class="row">
	    <div class="col-lg-12">
		    <div class="ibox float-e-margins">
		        <div class="ibox-title">
		          	<h1>Título</h1>
		        </div>
		        <div class="ibox-content">
		          	<p id="notice">
			            <center class="alert-info">
			              <%= notice %> 
			            </center>
		          	</p>
		          	<div class="panel panel-default">
			            <div class="panel-body">
			              	<p>
				                <strong>Nome Campo:</strong>
				                <%= @nome_model %>
				            </p>
			            </div>
		          	</div>
		            <div>
			            <%= link_to '', new_nome_model_path, :class => 'btn btn-primary fa fa-plus', :title => 'Novo Título' %>
			            <%= link_to '', edit_nome_model_path(@nome_model), :class => 'btn btn-warning fa fa-edit', :title => 'Editar' %>
			            <%= link_to '', nome_controller_path, :class => 'btn btn-danger fa fa-reply', :title => 'Voltar' %>
			        </div>
		        </div>
	      	</div>
	    </div>
  	</div>
</div>