<font size="3">
	<div class="row">
      	<div class="col-md-6" style="color: #FFF">
	        <div class="panel-body">
	          <%= form_tag :controller => "nome_controller", :action => "nome_action" do %>
	            <div class="col-md-4">
	          		<strong>PERÍODO:</strong>
	              	<%= text_field_tag :data_inicial, @data_inicial, type: :date, class: "form-control", :required => true %>
	            </div>
	            <div class="col-md-4">
	               	<strong>ATÉ:</strong>
	              	<%= text_field_tag :data_final, @data_final, type: :date, class: "form-control", :required => true %>
	              <br>
	            </div>
	            <br>
	            <div class="col-md-1">
	              <%= button_tag(type: 'submit', class: "btn btn-default", title: 'BUSCAR', style: "box-shadow: 3px 2px 2px #ccc;") do %>
	                <i class="fa fa-search"></i>
	              <% end %>
	            </div>
	          <% end %>
	        </div>
      	</div>
    </div>
</font>

<tbody>
    <% if !@nome_controller.blank? %>
      <% @nome_controller.each do |nome_model| %>
        <tr>
          <td><%= campo %></td>
        </tr>
      <% end %>
    <% end %>
</tbody>